* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    display: flex;
}

.child {
    width: 100px;
    height: 100px;
    background-color: blue;
    /* position: absolute; */

    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */

    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; */
    margin: auto;
}